// Place all the styles related to the SignatureSets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.param{
box-shadow: none;
color: white;
margin: 1px;
padding: 1px;
font-family: arial;
}
textarea.list{
width:400px;
}
#lists{
top: 50px;
width: 500px;
left: 50%;
margin-left: -250px;
position: fixed;
display: none;
z-index:2
}
